html {display: inline-flexbox}
body{
    margin: 10px 20px;
    color: white;
    margin: 0px;
    background-color: #000;
    overflow: hidden;
}

h1, h2, h3 {margin-top: 10px;}
h1, h2 {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 1);
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.75);
}
h3 {display: inline;}

#bkgPaceApp {
    background-image: url(./img/eliud_bw.jpeg);
    height: 480px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0px;
}

#mainPaceApp {
    position: relative;
    left: 50%;
    top: 10%;
    max-width: 320px;
    background-color: rgba(255, 255, 255, 0.75);
    height: 80%;
    margin: 0px;
    padding: 10px;
}

div.Calc {
    border: 1px dotted white;
    padding: 10px;
    background-color: #1665F9;
    border-radius: 8px;
}

div.TimeInputCell {
    display: inline;
}

div.CalcVisor {
    padding: 6px;
    background-color: #05193E;
    color: white;
    border-radius: 6px;
    margin-bottom: 8px;
}

div.legenda {
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 12px;
}

#inputKM, #inputH, #inputM, #inputM, #inputS {
    width: 36px;
    height: 12px;
}

#totPcM {
    display: inline;
}

button {
    width: 100%;
    border-radius: 6px;
    border-width: 0px;
    background-color: white;
    color: #05193E;
    padding: 8px;
    font-weight: bold;
}